@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container{
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}
.nav-hover {
  background-color: #FF6452;
  position:absolute;
  transform: translateX(-45%);
  border-radius: 1rem;
}

/* Sneaker Card */

.card-03 {
	position: relative;
	height: 450px;
	background: #eceeff;
	border-radius: 15px;
	overflow: hidden;
} 
.card-03 .contentBox-01 {
	position: relative;
	width: 100%;
	height: 28%;
}
.card-03 .contentBox-01::after {
	content: var(--brand);
	position: absolute;
	left: 11%;
  	top: -11%;
  	font-size: 9.5em;
	font-weight: 800;
	color: #c1d4ec34;
	-webkit-text-fill-color: rgba(49, 100, 105, 0.231);
	-webkit-text-stroke-width: 2px;
}

.card-03 .contentBox-01 span {
	position: absolute;
	top: 8%;
	right: 6%;
	z-index: 5;
	cursor: pointer;
}
.card-03 .contentBox-01 .heart i {
	color: #f00c0c;
}
.main-image {
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-image img {
	height: 250px;
	position: absolute;
	top: 57%;
	z-index: 1;
}
.contentBox-02 {
	height: 120px;
}

.card-03 .contentBox-03 {
	position: relative;
	padding: 5px 20px 10px;
}
.card-03 .contentBox-03 .branding span:nth-child(1) {
	font-size: 20px;
	font-weight: 400;
}
.card-03 .contentBox-03 .branding h2 {
	font-size: 12px;
	font-weight: 500;
	color: #464444;
}
.card-03 .contentBox-03 .ratings {
	display: inline-block;
	text-align: center;
	line-height: 26px;
	font-size: 10px;
	cursor: pointer;
	transition: all 0.5s ease;
	color: #fcba26;
}
.card-03 .contentBox-03 .ratings:nth-child(5) {
	color: #a7a7a7;
}
.card-03 .contentBox-03 .paragraph {
	font-size: 11.5px;
	color: #000;
	font-weight: 500;
}
.card-03 .contentBox-03 .paragraph span {
	color: #0b67df;
	font-weight: 700;
	cursor: pointer;
}
.card-03 .contentBox-03 .prices {
	display: flex;
	margin: 10px 0 10px;	
}
.card-03 .contentBox-03 .prices span {
	font-size: 25px;
	font-weight: 600;	
}
.card-03 .contentBox-03 .prices .space {
	flex: 1;
}
.card-03 .contentBox-03 .prices span:nth-child(1) {
	font-size: 20px;
	font-weight: 400;
	margin-top: 3px;
	margin-right: 5px;
}
.card-03 .contentBox-03 .prices a {
	font-size: 12px;
	text-decoration: none;
	border: none;
	color: #fff;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 10px 30px;
	border-radius: 15px;
	cursor: pointer;
}

.burger-nav {
	position:absolute;
	top:0;
	left:0;
	background-color: rgba(255,255,255, 0.2);
	backdrop-filter: blur(12px);
	width:100%;
	height:100vh;
	display:flex;
	justify-content:center;
	align-items: center;
}

.negative_margin {
	margin-bottom:-20px
}

.gradient {
	background: hsla(6, 100%, 66%, 1);

	background: linear-gradient(45deg, hsla(6, 100%, 66%, 1) 0%, hsla(322, 63%, 51%, 1) 100%);
	
	background: -moz-linear-gradient(45deg, hsla(6, 100%, 66%, 1) 0%, hsla(322, 63%, 51%, 1) 100%);
	
	background: -webkit-linear-gradient(45deg, hsla(6, 100%, 66%, 1) 0%, hsla(322, 63%, 51%, 1) 100%);
	
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF6452", endColorstr="#D13197", GradientType=1 );
}

.backface_visibility {
	backface-visibility: hidden;
}

.transform_perspective {
	transform: perspective(1000px) rotateY(var(--back));
	transition: 0.4s ease-out;
}

.transform_perspective_0_deg {
	transform: perspective(1000px) rotateY(var(--front));
	transition: 0.4s ease-out;
}

